body {
    background: rgb(75,192,255);
    background: radial-gradient(circle, rgba(75,192,255,1) 0%, rgba(183,198,215,0.7777485994397759) 100%);
}

h1 {
    font-size: 50px;
    background: -webkit-linear-gradient(#7c4bff, #ff4b4b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.specialNumBox {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    font-size: x-large;
    background-color: #f8386b;
}

.numbox {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    background-color: #d5f33e;
    font-size: x-large;
    -moz-appearance: textfield;
}
.numbox::-webkit-inner-spin-button {
    display: none;
}
.specialNumBox::-webkit-inner-spin-button {
    display: none;
}
#inputBank{
    width: 90px
}

.numboxBank {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    background-color: #d5f33e;
    font-size: x-large;
    -moz-appearance: textfield;
}
.numboxBank::-webkit-inner-spin-button {
    display: none;
}